.website{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
}

.catagory{
    font-size: 30px;
    background-color: hsl(207, 97%, 55%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.box{
    background-color: rgb(255, 255, 255);
    height: 380px;
    width: 200px;
    padding: 10px;
    border: 5px solid beige;
    transition: 0.2s;
    text-align: center;
}

.box:hover {
  outline: 5px solid rgb(191, 0, 255);
}

.details{

}
.price{
    font-size: 20px;
    color: green;
}

.container{
    display: flex;
    gap: 5px;
    margin: 10px;
}